a,
input,
button {
  font: inherit;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: middle;
}

.container {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.icon {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
}

.icon svg:hover {
  opacity: 1;
  fill: #63d1bb;
}

.icon svg:active {
  opacity: 0.3;
}

.icon svg {
  margin-right: 25px;
  opacity: 0.2;
}

.icon--cart svg {
  margin-right: 23px;
}

.icon--catalog-cart {
  margin: 0;
  padding: 0;
}

.icon--catalog-cart svg {
  margin-right: 0;
}

.border {
  position: relative;
}

.border::before {
  position: absolute;
  top: 22px;
  left: 27px;
  width: 100%;
  content: "";
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.site-nav {
  background-color: #fff;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav__item {
  box-shadow: inset 0 1px 0 0 #ececec;
}

.site-nav__link {
  display: block;
  margin-left: 75px;
  padding: 30px 10px;
}

.site-nav__link--delivery {
  display: none;
}

.site-nav__link:hover {
  opacity: 0.6;
}

.site-nav__link:active {
  opacity: 0.3;
}

.user-navigation {
  background-color: #fff;
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-navigation__item {
  box-shadow: inset 0 1px 0 0 #ececec;
}

.user-navigation__link {
  display: block;
  margin-left: 33px;
  padding: 30px 10px;
}

.user-navigation__link:hover {
  color: rgba(68, 68, 68, 0.6);
}

.user-navigation__link:hover svg {
  opacity: 1;
  fill: #63d1bb;
}

.user-navigation__link:active {
  color: rgba(68, 68, 68, 0.3);
}

.user-navigation__link:active svg {
  opacity: 0.3;
}

.socials {
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.socials__item {
  margin-right: 40px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: block;
}

.socials__link svg:hover {
  fill: #46c1ae;
}

.socials__link svg:active {
  opacity: 0.3;
}

.line-title {
  font-size: 17px;
  font-weight: bold;
  line-height: 16px;
  color: #63d1bb;
  width: 100%;
  display: grid;
  grid-template-columns: 60px 1fr;
  align-items: center;
}

.line-title::after {
  content: "";
  height: 2px;
  background-color: #63d1bb;
}

.title {
  margin: 0;
  font-size: 27px;
  font-weight: bold;
  line-height: 30px;
  padding-top: 75px;
  padding-bottom: 75px;
  text-align: center;
  color: #231f20;
  background-color: #f1f1f1;
}

.btn {
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  display: block;
  box-sizing: border-box;
  width: 260px;
  padding: 16px 10px;
  text-align: center;
  text-transform: uppercase;
  color: #444;
  border: solid 2px #444;
  background-color: transparent;
}

.btn--w190 {
  width: 190px;
}

.btn:hover,
.btn:focus {
  color: #fff;
  background-color: #000;
}

.btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.break {
  flex-basis: 100%;
  width: 0;
  margin: 0;
  padding: 0;
  border: none;
}

.main-header {
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  color: #000;
}

.main-header__nav {
  position: relative;
  z-index: 1;
}

.main-header__dropout {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.main-header__button {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 30px;
  right: 30px;
  width: 21px;
  height: 21px;
}

.main-header__logo {
  display: block;
  margin: 0 auto;
  -o-object-fit: contain;
     object-fit: contain;
  width: 86px;
  padding: 20px 0;
  align-self: center;
}

.main-header__logo:hover .words,
.main-header__logo:hover .line {
  fill: #46c1ae;
}

.main-header__logo:active .line,
.main-header__logo:active .words {
  opacity: 0.3;
}

.main-header__logo .ears {
  display: none;
}

.main-header__logo .bg {
  display: none;
}

.main-header__logo .words {
  fill: #000;
}

.promo {
  background-image: linear-gradient(180deg, #f9f9f9 373px, #fff 373px);
  position: relative;
}

.promo__wrapper {
  padding-top: 93px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.promo__title {
  position: relative;
  margin: 0;
  margin-bottom: 130px;
  font-size: 27px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  color: #010000;
  z-index: 1;
}

.promo__header {
  display: flex;
  flex-direction: column;
}

.promo__header-links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
  z-index: 20;
  order: -1;
  font-size: 15px;
  font-weight: bold;
  color: #000;
}

.promo__header-link:hover {
  opacity: 0.6;
}

.promo__header-link:active {
  opacity: 0.3;
}

.promo__img {
  margin: 0;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.promo__bottom-navigation {
  z-index: 2;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 19px;
  font-weight: bold;
  color: #fff;
}

.promo__bottom-navigation-link {
  display: block;
  padding: 30px 200px 30px 30px;
  position: relative;
  transition: padding 0.2s ease-in;
}

.promo__bottom-navigation-link:active::after {
  opacity: 0.3;
}

.promo__bottom-navigation-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.promo__bottom-navigation-link:hover {
  padding-top: 25px;
  padding-bottom: 40px;
}

.promo__bottom-navigation-link::after {
  content: "";
  position: absolute;
  transition: top 0.2s ease-in;
}

.promo__bottom-navigation-link--left {
  background-color: #63d1bb;
}

.promo__bottom-navigation-link--left:hover::after {
  top: 18px;
}

.promo__bottom-navigation-link--left::after {
  width: 40px;
  height: 62px;
  top: 23px;
  right: 36px;
  background: url(../img/lustra.png) no-repeat center;
}

.promo__bottom-navigation-link--right {
  background-color: #56c3b2;
}

.promo__bottom-navigation-link--right:hover::after {
  top: 16px;
}

.promo__bottom-navigation-link--right::after {
  width: 60px;
  height: 60px;
  top: 21px;
  right: 27px;
  background: url(../img/kubik.png) no-repeat center;
}

.week-product {
  background: url(../img/icons/ziggrey2.svg) repeat-x bottom/6px;
}

.week-product__wrapper {
  display: grid;
  box-sizing: border-box;
  padding: 30px;
  grid-template-columns: 260px;
}

.week-product__title {
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  margin: 0;
  margin-top: 30px;
  color: #63d1bb;
  grid-row: 1/2;
  grid-column: 1/2;
}

.week-product__product {
  grid-row: 1/-1;
  grid-column: 1/2;
}

.week-product__name {
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  margin: 0;
  margin-bottom: 50px;
  color: #000;
}

.week-product__img {
  width: 280px;
  margin-bottom: 30px;
}

.week-product__text {
  font-size: 15px;
  margin: 0;
  margin-bottom: 30px;
}

.week-product__params {
  font-size: 15px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 40px;
}

.week-product__param-wrapper {
  display: grid;
  padding: 10px 0;
  box-shadow: 0 1px 0 0 #ececec;
  grid-template-columns: 55px 1fr;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.week-product__param-text {
  margin: 0;
}

.week-product__price {
  font-size: 17px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
}

.week-product__link {
  display: block;
  margin-bottom: 15px;
}

.about__wrapper {
  padding: 30px 30px 0 30px;
}

.about__title {
  margin: 0;
  margin-bottom: 40px;
  margin-top: 10px;
}

.about__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about__item {
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 25px;
  color: #000;
}

.about__item::before {
  display: block;
  width: 50px;
  height: 35px;
  margin-bottom: 25px;
  content: "";
}

.about__item--1::before {
  background: url(../img/icon-1-svg.png) no-repeat center;
}

.about__item--2::before {
  background: url(../img/icon-2-svg.png) no-repeat center;
}

.about__item--3::before {
  background: url(../img/icon-3-svg.png) no-repeat center;
}

.about__item--4::before {
  background: url(../img/icon-4-svg.png) no-repeat center;
}

.about__item--5::before {
  background: url(../img/icon-5-svg.png) no-repeat center;
}

.about__item--6::before {
  background: url(../img/icon-6-svg.png) no-repeat center;
}

.reviews {
  background: url(../img/icons/ziggrey2.svg) repeat-x bottom/6px;
}

.reviews__wrapper {
  padding: 30px;
}

.reviews__title {
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  margin: 0;
  margin-bottom: 30px;
  text-align: left;
  color: #000;
}

.reviews__quote-wrapper {
  margin: 0;
}

.reviews__text {
  font-size: 15px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 35px;
}

.reviews__author {
  font-size: 17px;
  font-weight: bold;
  color: #000;
}

.reviews__mail {
  line-height: 30px;
  margin: 0;
  margin-bottom: 35px;
}

.reviews__buttons {
  display: flex;
  margin-bottom: 35px;
}

.reviews__btn {
  box-sizing: border-box;
  width: 50%;
  height: 52px;
  border: none;
  border: 1px solid #ececec;
  background: url(../img/icons/arrow.svg) no-repeat center/50px 26px;
  background-color: transparent;
}

.reviews__btn--left {
  transform: scale(-1, 1);
  border-left-color: transparent;
}

.reviews__btn:hover {
  opacity: 0.6;
}

.reviews__btn:active {
  opacity: 0.3;
}

.reviews__link {
  margin-bottom: 15px;
}

.contacts__wrapper {
  position: relative;
  padding: 30px;
}

.contacts__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  color: #000;
}

.contacts__list {
  font-size: 15px;
  line-height: 30px;
}

.contacts__item-wrapper {
  display: flex;
}

.contacts__name {
  margin-right: 30px;
}

.contacts__text {
  margin: 0;
}

.contacts__picture {
  margin-bottom: 40px;
  position: relative;
  width: 320px;
  left: -30px;
}

.contacts__link {
  margin-bottom: 10px;
}

.form-page__container {
  padding: 30px;
}

.form-page__title {
  margin: 0;
  margin-bottom: 30px;
}

.form-page__text {
  margin: 0;
  margin-bottom: 30px;
  font-size: 13px;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.form {
  padding-bottom: 30px;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  color: #000;
}

.form__group--type-group {
  margin-bottom: 25px;
}

.form__group--color-group {
  margin-bottom: 25px;
}

.form__group--name-group {
  margin-bottom: 25px;
}

.form__group-title {
  padding: 0;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.form__wrapper {
  position: relative;
  margin-bottom: 20px;
}

.form__label {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: grid;
  grid-template-columns: 60px 165px;
  grid-template-rows: 40px;
  grid-auto-flow: dense;
  align-items: center;
}

.form__label::before {
  content: "";
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  border: 10px solid #fff;
  box-shadow: 0 0 0 2px #444;
}

.form__label--color::before {
  border-radius: 0;
  width: 40px;
  height: 40px;
  border: none;
}

.form__label--color::after {
  position: absolute;
  top: 9px;
  left: 7px;
  content: unset;
  width: 22px;
  height: 11px;
  border: 2px solid black;
  border-top-color: transparent;
  border-right-color: transparent;
  transform: rotate(-45deg);
}

.form__label--name::before,
.form__label--add::before,
.form__label--email::before,
.form__label--tel::before {
  content: unset;
}

.form__label--name::after,
.form__label--add::after,
.form__label--email::after,
.form__label--tel::after {
  margin-left: 10px;
}

.form__label--add,
.form__label--email,
.form__label--tel {
  text-transform: uppercase;
}

.form__label--email::after {
  margin-left: 22px;
}

.form__icon {
  position: absolute;
  right: 8px;
  bottom: 15px;
  opacity: 0.2;
}

.form__icon--mail {
  bottom: 10px;
}

.form__input {
  grid-column: 1;
}

.form__input--name,
.form__input--email,
.form__input--tel {
  box-sizing: border-box;
  width: 100%;
  border: none;
  border-bottom: 2px solid #444;
  padding: 10px 40px 15px 0;
  font-weight: normal;
  outline: none;
  line-height: normal;
}

.form__input--name::-moz-placeholder, .form__input--email::-moz-placeholder, .form__input--tel::-moz-placeholder {
  opacity: 0.3;
}

.form__input--name::placeholder,
.form__input--email::placeholder,
.form__input--tel::placeholder {
  opacity: 0.3;
}

.form__input--name:focus,
.form__input--name:hover,
.form__input--email:focus,
.form__input--email:hover,
.form__input--tel:focus,
.form__input--tel:hover {
  border-bottom-color: #63d1bb;
}

.form__input--name:focus + svg,
.form__input--name:hover + svg,
.form__input--email:focus + svg,
.form__input--email:hover + svg,
.form__input--tel:focus + svg,
.form__input--tel:hover + svg {
  fill: #63d1bb;
  opacity: 1;
}

.form__input--type:focus + label::before {
  box-shadow: 0 0 0 2px #62d1ba;
}

.form__input--type:checked + label::before {
  background-color: #62d1ba;
  box-shadow: 0 0 0 2px #444;
}

.form__input--type:hover + label::before {
  box-shadow: 0 0 0 2px #62d1ba;
}

.form__input--type:active + label::before {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.3);
  background-color: #62d1ba;
}

.form__input--color:checked + label::after {
  content: "";
}

.form__input--color:checked + label::before {
  content: "";
}

.form__input--color:focus + label::before {
  box-shadow: 0 0 0 2px #62d1ba;
}

.form__input--color:hover + label::before {
  box-shadow: 0 0 0 2px #62d1ba;
}

.form__input--color:active + label::before {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.3);
}

.form__text {
  margin: 0;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
}

.form__button {
  margin-bottom: 15px;
}

.form__textarea {
  width: 100%;
}

.form__textarea::-moz-placeholder {
  font-size: 17px;
  line-height: 18px;
  color: rgba(68, 68, 68, 0.3);
}

.form__textarea::placeholder {
  font-size: 17px;
  line-height: 18px;
  color: rgba(68, 68, 68, 0.3);
}

.form__textarea:focus,
.form__textarea:hover {
  outline: none;
  border-color: #62d1ba;
}

.form__group {
  position: relative;
}

.form__group--tel {
  margin-bottom: 30px;
}

.form__group--email {
  margin-bottom: 30px;
}

.form__group--add {
  margin-bottom: 30px;
}

.catalog__container {
  padding: 0 30px 0 30px;
}

.catalog__title {
  margin-bottom: 30px;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__item {
  flex-shrink: 0;
  box-sizing: border-box;
  padding: 195px 30px 30px 30px;
  position: relative;
  border: 1px solid #ececec;
}

.catalog__item:not(:last-child) {
  margin-bottom: 30px;
}

.catalog__img {
  height: 195px;
  position: absolute;
  top: 0;
  left: 0;
}

.catalog__wrapper {
  margin-top: auto;
  border-top: 1px solid #ececec;
  display: flex;
  justify-content: space-between;
}

.catalog__item-title {
  font-size: 17px;
  font-weight: bold;
  color: #000;
}

.catalog__text {
  margin: 0;
  font-size: 13px;
  line-height: 30px;
  color: #444;
  padding-bottom: 26px;
}

.catalog__price {
  font-size: 15px;
  font-weight: bold;
  line-height: 24px;
  color: #000;
}

.product {
  padding-top: 30px;
}

.product__container {
  padding: 0 30px 30px 30px;
}

.product__wrapper {
  box-sizing: border-box;
  padding: 30px 35px 35px 35px;
  border: 1px solid #ececec;
}

.product__video-wrapper {
  position: relative;
  order: -1;
  margin-right: -35px;
  margin-bottom: 35px;
  margin-left: -35px;
}

.product__title {
  font-size: 17px;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 25px;
  color: #000;
}

.product__title::before {
  flex-shrink: 0;
  width: 32px;
  height: 22px;
  margin-right: 25px;
  content: "";
  background: url("../img/video,svg.png") no-repeat center;
}

.product__video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.product__button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 101px;
  height: 77px;
  transform: translate(-50%, -50%);
  border: none;
  background: transparent url("../img/play.svg.png") no-repeat center;
}

.product__text {
  font-size: 13px;
  margin: 0;
  margin-bottom: 30px;
}

.main-footer {
  background-color: #ebebeb;
}

.main-footer__container {
  padding: 30px;
}

.main-footer__logo {
  display: none;
}

.main-footer__copyright {
  font-size: 19px;
  font-weight: bold;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}

.main-footer__html-link {
  margin-left: 30px;
  fill: #63d1bb;
}

.main-footer__html-link:hover {
  fill: #46c1ae;
}

.main-footer__html-link:active {
  opacity: 0.3;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 24px;
  color: #444;
  background-color: #fff;
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }

  .site-nav {
    align-items: center;
    order: 1;
    width: 380px;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .site-nav__item {
    margin-right: 40px;
    box-shadow: unset;
  }

  .site-nav__item:nth-child(2n) {
    margin-right: 0;
  }

  .site-nav__link {
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
  }

  .site-nav__link--delivery {
    font-size: 15px;
    font-weight: normal;
    display: initial;
    margin-left: auto;
  }

  .user-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .user-navigation__link {
    margin: 0;
    padding-right: 0;
    padding-left: 0;
  }

  .user-navigation__link--search {
    display: block;
    text-align: center;
    padding: 30px 30px;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    margin-right: 30px;
  }

  .user-navigation__link--search svg {
    margin: 0;
    vertical-align: baseline;
  }

  .user-navigation__link--search span {
    display: none;
    margin-left: 20px;
  }

  .title {
    padding-top: 10px;
    padding-bottom: 60px;
    font-size: 43px;
    line-height: 50px;
  }

  .main-header {
    background-image: linear-gradient(0deg, #f1f1f1 85px, #fff 80px);
  }

  .main-header__nav {
    padding-left: 50px;
    padding-right: 50px;
  }

  .main-header__button {
    display: none;
  }

  .main-header__logo {
    padding: 0;
    margin: 0;
    margin-right: auto;
    margin-left: -10px;
  }

  .main-header__logo .ears {
    display: none;
  }

  .main-header__logo .bg {
    display: unset;
    fill: #000;
  }

  .main-header__logo .words {
    fill: #fff;
  }

  .promo {
    background-image: none;
    background-color: #f9f9f9;
  }

  .promo__wrapper {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 85px;
    min-height: 590px;
  }

  .promo__wrapper::before {
    position: absolute;
    content: "";
    height: 23px;
    width: 100%;
    background: transparent url(../img/icons/zigwhite.svg) no-repeat center/contain;
    bottom: -12px;
    left: 0;
    z-index: 1;
  }

  .promo__title {
    font-size: 43px;
    line-height: 50px;
    color: #000;
  }

  .promo__title br {
    display: none;
  }

  .promo__header-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: absolute;
    top: -55px;
    right: 50px;
    z-index: 5;
    isolation: isolate;
  }

  .promo__header-link-wrapper {
    margin-right: 40px;
    display: none;
  }

  .promo__header-link-wrapper--delivery {
    display: block;
    font-size: 15px;
    font-weight: normal;
    margin: 0;
    margin-left: auto;
  }

  .promo__footer {
    margin-top: auto;
  }

  .promo__bottom-navigation {
    display: flex;
    align-items: end;
  }

  .promo__bottom-navigation-item {
    flex-grow: 1;
  }

  .week-product {
    background: url(../img/icons/ziggrey2.svg) repeat-x bottom/auto 17px;
  }

  .week-product__wrapper {
    padding-top: 45px;
    padding-bottom: 60px;
    padding-left: 50px;
    padding-right: 50px;
    grid-template-columns: 1fr 1fr 70px 30px;
  }

  .week-product__title {
    margin: 0;
    grid-column: 3/4;
  }

  .week-product__product {
    display: grid;
    align-items: start;
    grid-column: 1/-1;
    grid-template-columns: 285px 333px;
    -moz-column-gap: 55px;
         column-gap: 55px;
  }

  .week-product__name {
    font-size: 43px;
    grid-column: 1/3;
    grid-row: 1/2;
    margin-bottom: 55px;
    z-index: 1;
  }

  .week-product__img {
    width: 333px;
    margin: 0;
    grid-column: 2/3;
    grid-row: 2/6;
  }

  .week-product__text {
    margin-bottom: 50px;
  }

  .week-product__params {
    margin-bottom: 50px;
  }

  .week-product__price {
    margin: 0;
    margin-bottom: 30px;
  }

  .week-product__link {
    margin: 0;
    align-self: end;
    justify-self: center;
  }

  .about__wrapper {
    padding: 40px 50px 60px 50px;
  }

  .about__title {
    font-size: 43px;
    font-weight: bold;
    line-height: 50px;
  }

  .about__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .about__item {
    width: 300px;
  }

  .about__item:nth-child(2n+1) {
    margin-right: 30px;
  }

  .reviews {
    background: url(../img/icons/ziggrey2.svg) repeat-x bottom/auto 17px;
  }

  .reviews__wrapper {
    position: relative;
    padding: 80px 50px 80px 50px;
    background: url(../img/review.jpg) no-repeat top left;
  }

  .reviews__title {
    font-size: 43px;
    font-weight: bold;
    line-height: 50px;
    margin: 0;
    margin-bottom: 60px;
  }

  .reviews__buttons {
    position: absolute;
    right: 0;
    bottom: 120px;
    width: 175px;
    margin: 0;
  }

  .reviews__link {
    position: absolute;
    top: 80px;
    right: 0;
    width: 175px;
    margin: 0;
  }

  .contacts__wrapper {
    padding: 50px;
  }

  .contacts__title {
    font-size: 43px;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .contacts__title::after {
    content: "";
    width: 47px;
    height: 81px;
    background: url(../img/flag.png) no-repeat center;
  }

  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .contacts__item-wrapper {
    width: 330px;
  }

  .contacts__item-wrapper--address {
    order: 1;
  }

  .contacts__picture {
    width: 768px;
    left: -50px;
  }

  .contacts__picture::before {
    content: "";
    position: absolute;
    width: 67px;
    height: 100px;
    background: url(../img/map-pin.svg.png) no-repeat center;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .contacts__link {
    margin: 0 auto;
  }

  .form-page__container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .form-page__text {
    padding-left: 175px;
    padding-right: 175px;
  }

  .form__group {
    display: flex;
  }

  .form__group-title {
    flex-shrink: 1;
    padding: 0;
    width: auto;
    margin-left: 50px;
    margin-right: 70px;
    width: 50px;
  }

  .form__group-title::after {
    content: unset;
  }

  .form__right-column {
    display: flex;
    flex-wrap: wrap;
  }

  .form__right-column--name {
    flex-direction: column;
    width: 400px;
  }

  .form__wrapper {
    margin-right: 0px;
  }

  .form__icon {
    right: 14.5%;
  }

  .form__input--name,
  .form__input--email,
  .form__input--tel {
    width: 400px;
  }

  .form__textarea {
    width: 400px;
  }

  .form__butn-wrapper {
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  .form__butn-wrapper p {
    margin: 0;
  }

  .form__butn-wrapper button {
    order: -1;
    margin-bottom: 0;
  }

  .catalog__container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .catalog__item {
    box-sizing: border-box;
    padding: 30px 30px 30px 365px;
    min-height: 335px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-content: stretch;
  }

  .product__wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 0;
  }

  .product__link {
    width: 100%;
  }

  .main-footer__container {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .main-footer__logo {
    display: block;
    width: 150px;
    height: 80px;
  }

  .main-footer__logo .bg {
    display: none;
  }

  .main-footer__logo .ears {
    display: none;
  }

  .main-footer__logo .line {
    display: none;
  }
}

@media (min-width: 768px) and (min-width: 1150px) {
  .promo__wrapper::before {
    background-size: 1150px auto;
    height: 35px;
    bottom: -20px;
  }

  .contacts__picture {
    position: absolute;
    right: 0;
    top: 70px;
    left: auto;
    width: 525px;
  }
}

@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .reviews__wrapper {
    background: url("../img/review@2x.jpg") no-repeat top left/350px auto;
  }

  .contacts__picture::before {
    background: transparent url(../img/map-pin.svg@2x.png) no-repeat center/67px auto;
  }
}

@media (min-width: 1150px) {
  .container {
    width: 1150px;
  }

  .site-nav {
    width: auto;
    order: -1;
  }

  .main-header {
    background-image: unset;
  }

  .main-header__dropout {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .main-header__logo {
    margin: 0;
    width: 150px;
    height: auto;
  }

  .main-header__logo .ears {
    display: initial;
    fill: #000;
  }

  .main-header__logo .bg {
    display: initial;
    fill: #000;
  }

  .main-header__logo .words {
    fill: #fff;
  }

  .promo__wrapper {
    padding-top: 30px;
    min-height: 740px;
  }

  .promo__title {
    width: 500px;
    margin: 0 auto;
  }

  .promo__header-links {
    margin-bottom: 115px;
    position: static;
  }

  .promo__header-link-wrapper {
    display: block;
  }

  .promo__bottom-navigation-link {
    padding-right: 350px;
  }

  .week-product {
    background: url(../img/icons/ziggrey2.svg) repeat-x bottom/auto 23px;
  }

  .week-product__wrapper {
    padding-top: 55px;
    grid-template-columns: repeat(6, 1fr);
  }

  .week-product__title {
    grid-column: 1/2;
    margin-top: 55px;
    width: 70px;
    justify-self: center;
  }

  .week-product__product {
    grid-column: 2/7;
    grid-template-columns: 285px 525px;
  }

  .week-product__name {
    margin: 0;
    margin-top: 55px;
  }

  .week-product__img {
    grid-row: 1/6;
    width: 525px;
  }

  .week-product__text {
    margin-top: 50px;
    margin-bottom: 0;
  }

  .week-product__params {
    margin-top: 60px;
    margin-bottom: 0;
  }

  .week-product__price {
    margin-top: 105px;
    margin-bottom: 0;
  }

  .week-product__link {
    margin-top: 35px;
  }

  .about__wrapper {
    padding-left: 225px;
  }

  .about__title {
    margin-top: 0;
  }

  .reviews {
    padding-bottom: 90px;
    background: url(../img/icons/ziggrey2.svg) repeat-x bottom/auto 23px;
  }

  .reviews__wrapper {
    padding-left: 225px;
  }

  .contacts__wrapper {
    padding-left: 225px;
    padding-right: 650px;
    padding-bottom: 105px;
    padding-top: 130px;
  }

  .contacts__title {
    position: relative;
    justify-content: start;
  }

  .contacts__title::after {
    order: -1;
    position: absolute;
    left: -100px;
  }

  .contacts__list {
    flex-direction: column;
  }

  .contacts__item-wrapper {
    margin-bottom: 40px;
  }

  .contacts__link {
    margin-top: 20px;
  }

  .form__right-column {
    width: 675px;
  }

  .form__wrapper {
    margin-right: 0px;
  }

  .form__icon {
    right: 22.5%;
  }

  .form__input--name,
  .form__input--email,
  .form__input--tel {
    width: 645px;
  }

  .catalog__list {
    display: flex;
    justify-content: space-between;
  }

  .catalog__item {
    padding: 485px 30px 30px 30px;
    width: 318px;
  }

  .catalog__item:not(:last-child) {
    margin-right: 40px;
    margin-bottom: 0;
  }

  .product__wrapper {
    position: relative;
    min-height: 397px;
    padding: 40px 40px 60px 730px;
  }

  .product__video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    order: initial;
    width: 685px;
    height: 100%;
    margin: 0;
  }

  .product__link {
    margin-top: auto;
  }
}

@media (max-width: 767px) {
  .main-header__nav--open {
    min-height: 410px;
  }

  .main-header__nav--open .main-header__button::after,
  .main-header__nav--open .main-header__button::before {
    position: absolute;
    top: 50%;
    left: 0;
    content: "";
    width: 21px;
    height: 2px;
    background-color: #000;
  }

  .main-header__nav--open .main-header__button::before {
    transform: rotate(45deg);
  }

  .main-header__nav--open .main-header__button::after {
    transform: rotate(-45deg);
  }

  .main-header__nav--open .main-header__dropout {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    width: 100%;
  }

  .main-header__nav--closed .main-header__button {
    height: 14px;
    top: 35px;
    background-image: linear-gradient(180deg, black 2px, white 2px, white 6px, black 6px, black 8px, white 8px, white 12px, black 12px);
  }

  .main-header__nav--closed .site-nav,
  .main-header__nav--closed .user-navigation {
    display: none;
  }
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .promo__bottom-navigation-link--left::after {
    background: url(../img/interior.svg@2x.png) no-repeat center/40px auto;
  }

  .promo__bottom-navigation-link--right::after {
    background: url(../img/toy-svg@2x.png) no-repeat center/60px auto;
  }

  .product__button {
    background: transparent url("../img/play.svg@2x.png") no-repeat center/101px auto;
  }
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .about__item--1::before {
    background: url(../img/icon-1-svg@2x.png) no-repeat center;
  }

  .about__item--2::before {
    background: url(../img/icon-2-svg@2x.png) no-repeat center;
  }

  .about__item--3::before {
    background: url(../img/icon-3-svg@2x.png) no-repeat center;
  }

  .about__item--4::before {
    background: url(../img/icon-4-svg@2x.png) no-repeat center;
  }

  .about__item--5::before {
    background: url(../img/icon-5-svg@2x.png) no-repeat center;
  }

  .about__item--6::before {
    background: url(../img/icon-6-svg@2x.png) no-repeat center;
  }
}

@media (min-resolution: retina-dpi), (min-resolution: retina-dppx) {
  .product__title::before {
    background: transparent url("../img/video,svg@2x.png") no-repeat center/32px auto;
  }
}