.container {
  margin: 0 auto;
  width: 1300px;
  // padding: 0 15px;

  &--big {
    width: 1760px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-nav {
  @include listNone;

  &__item {
    // margin-right: 30px;
    &:last-child {
      // margin: 0;
    }
  }

  &__link {

  }
}

.title {
  margin: 0;

  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #06a9b3;
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  column-gap: 8px;
  justify-content: center;

  &::before {
    counter-increment: title;
    content: "0" counter(title);
    width: 20px;
    height: 20px;
  }

  &::after {
    content: "";

    grid-column: 2 / span 1;
    grid-row: 1;

    height: 2px;
    width: 81px;
    background-color: #06a9b3;
  }

  &--center {
    &::before {
      position: absolute;
      top: calc(50% + 33px);
      left: 50%;
      transform: translateX(-50%);
      content: "";
      height: 2px;
      width: 86px;
      background-color: #fff;
    }
  }
}

.border {
  position: relative;
  &::before {
    content: "";
    top: 22px;
    left: 27px;
    position: absolute;
    width: 100%;

    border: 1px solid rgba(255, 255, 255, 0.2);
  }
}

// .footer-icon {
//   position: relative;
//   &::before {
//     content: "";
//     left: -30px;
//     top: 4px;
//     width: 15px;
//     height: 15px;
//     margin-right: 150px;
//     position: absolute;
//   }

//   &--a::before {
//     background: url(../img/iconka1.png) no-repeat center;
//   }
//   &--m::before {
//     background: url(../img/iconka2.png) no-repeat center;
//   }
//   &--t::before {
//     background: url(../img/iconka3.png) no-repeat center;
//   }
// }

// .line-title {
//   margin: 0;
//   font-family: Raleway;
//   font-size: 30px;
//   font-weight: 900;
//   line-height: 50px;
//   letter-spacing: 1.2px;
//   color: #000;
//   text-transform: uppercase;
//   display: flex;
//   align-items: center;
//   &::after {
//     flex-grow: 1;
//     margin-left: 170px;
//     content: "";
//     height: 2px;
//     background-color: black;
//   }
// }

.socials {
  @include listNone;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-items: start;
  align-items: start;
  gap: 10px 73px;
  &--row {
  }

  &__item {
    // margin-right: 10px;
    // margin-bottom: 0px;
    &--row {
      // margin-right: 50px;
    }

    &:last-child {
      // margin-right: 0;
    }
  }

  &__link {
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
  }

  &__link--f {
    background: url("../img/f.png") no-repeat center;
  }
  &__link--v {
    background: url("../img/v.png") no-repeat center;
  }
  &__link--w {
    background: url("../img/whatsapp.svg") no-repeat center;
  }
  &__link--i {
    background: url("../img/i.png") no-repeat center;
  }
  &__link--t {
    background: url("../img/Twitter.svg") no-repeat center;
  }
}

.form {
  &__text {
  }
  &__input-wrapper {
  }
  &__input {
  }
  &__label {
  }

  &__sumbit-btn {
  }
}

.link {
  display: inline-block;
  padding: 16px 32px;
  background: #06a9b3;
  font-weight: 500;
  line-height: 20px;
  color: #ffffff;
}

.break {
  flex-basis: 100%;
  width: 0;
  margin: 0;
  padding: 0;
  border: none;
}
