.main-footer {
  background: rgba(52, 50, 53) url(../img/fotbg.jpg) no-repeat top -50px center/100%
    100%;

  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
  }
}
.form {
  margin-top: 92px;
  margin-bottom: 80px;
  grid-column: 2 / span 5;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    "t t t t t ."
    "tx tx tx tx tx tx"
    "n n n n n n"
    "tel tel tel tel tel tel"
    "time time . a a a"
    "b b b b b b";
  column-gap: 20px;
  align-items: start;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;

  color: #ffffff;

  &__title {
    grid-area: t;
    margin: 0;
    margin-bottom: 36px;

    font-family: "Old Standard TT";
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 54px;

    text-transform: uppercase;

    color: #eee9e6;
  }

  &__title-- {
  }

  &__text {
    grid-area: tx;
    margin: 0;
    margin-bottom: 44px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    /* or 178% */

    color: #eee9e6;

    opacity: 0.6;
  }

  &__input-wrapper {
    border-bottom: 1px solid #a78587;
  }

  &__input-wrapper--name {
    margin-bottom: 36px;
    grid-area: n;
  }
  &__input-wrapper--tel {
    grid-area: tel;
    margin-bottom: 44px;
  }

  &__label {
    position: relative;

    &::before {
      position: absolute;
      top: 15%;
      left: -45px;
      width: 27px;
      height: 27px;
      border: 1px solid #a78587;
    }

    &::after {
    }
  }

  &__label--name {
  }

  &__input {
    width: 100%;
    padding: 0px 10px 14px 0;
    box-sizing: border-box;
    background-color: transparent;
    border: none;

    &:focus {
      outline: 2px solid #a78587;
      box-shadow: 0 0 2px #a78587;
    }
    &::placeholder {
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      vertical-align: text-top;

      color: #ffffff;
    }
  }

  &__input--name {
  }

  &__label--tel {
  }

  &__input--tel {
  }

  &__checkbox-wrapper {
  }

  &__checkbox-wrapper--agree {
    grid-area: a;
  }

  &__label--agree {
    &::before {
      content: "";
    }
    &::after {
      content: "";
      width: 27px;
      height: 27px;

      position: absolute;
      top: 4px;
      left: -37px;
      z-index: 1;
    }
  }

  &__input--agree {
    &:focus + .form__label--agree::before {
      outline: 2px solid #a78587;
      box-shadow: 0 0 2px #a78587;
    }

    &:checked + .form__label--agree::after {
      background: url(../img/chr.png) no-repeat;
    }
    &:checked + .form__label--agree::before {
      outline: 2px solid #a78587;
      box-shadow: 0 0 4px #a78587;
      border: #a78587 1px solid;
      clip-path: polygon(0% 0%, 70% 1%, 100% 28%, 100% 100%, 0% 100%);
    }
  }

  &__select-wrapper {
    grid-area: time;
  }

  &__select-wrapper-- {
  }

  &__label--time {
  }

  &__select {
    background: rgba(52, 50, 53) url(../img/w.png) no-repeat top 50% left 90%;

    width: 100%;
    // padding: 5px 10px;
    box-sizing: border-box;
    padding: 16px 10px;

    color: white;
    border: 1px solid #a78587;

    appearance: none;

    &:focus {
      outline: 2px solid #a78587;
      box-shadow: 0 0 2px #a78587;
    }

    option:disabled {
    }
  }

  &__select--time {
  }

  &__btn {
    margin-top: 60px;
    padding: 18px 10px 18px 10px;
    grid-area: b;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    background-color: transparent;

    text-align: center;
    text-transform: uppercase;
    border: none;
    border-top: 1px solid #a78587;
    border-bottom: 1px solid #a78587;

    color: #a78587;
  }
}
.footer {
  &__text {
  }

  &__text-- {
  }

  &__map {
    grid-column: 8/-1;
  }
}
.visually-hidden {
}
