.offers {
  padding-top: 252px;
  padding-bottom: 155px;
  display: flex;
  justify-content: center;

  &__title {
    margin: 0;
    width: 100%;
    font-size: 50px;
    line-height: 55px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    margin-bottom: 60px;
  }

  &__wrapper {
    width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 10px 10px 0;
    p {
      margin: 0;
      font-size: 18px;
      line-height: 170%;
      margin-bottom: 30px;
      text-transform: lowercase;
    }
  }

  &__img-wrapper {

  }
}
