.page{
    display: grid;
    grid-template-columns: 260px 1fr 360px;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header header header"
                         "nav main tickets"
                         "nav main payment"                         ;
}