.park {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: white;

  &__container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    column-gap: 23px;
    &::before {
      content: "01";
      font-weight: 700;
      font-size: 64px;
      line-height: 64px;
      justify-self: center;
      color: #eaf2f6;
    }
    &::after {
      content: "место";
      grid-column: 1/2;
      grid-row: 2/4;
      font-weight: 700;
      font-size: 64px;
      line-height: 64px;

      color: #eaf2f6;
      justify-self: center;
      align-self: center;
      transform: rotate(-90deg);
    }
  }

  &__title {
    justify-self: center;
    grid-column: 4 / span 4;
    + .title {
      grid-column: 4 / span 2;
      grid-row: 1;
    }
  }

  &__text {
    grid-column: 4 / 8;
  }

  &__text-left {
    font-size: 14px;
    line-height: 24px;
    width: 210px;
    grid-column: 1;
    grid-row: 1;
  }

  &__to-right {
    grid-column: 4 / 11;
    display: grid;
    grid-template-columns: 1fr 210px;
    p {
      font-size: 14px;
      line-height: 24px;
    }
  }

  &__wide-img {
    grid-column: 1 / -1;
  }

  &__text--with-border {
    grid-column: 3 / span 6;
    // width: 648px;
    font-weight: 400;
    font-size: 22px;
    line-height: 40px;
    border-left: 2px solid #06a9b3;
    padding-left: 28px;
  }

  &__to-left {
    grid-column: 1 / span 7;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 210px 444px;
  }

  &__link {
    grid-column: 1 / -1;
    justify-self: center;
  }
}
.title {
}
.link {
}
.link--wide {
}
