.promo {
  padding: 80px 0;
  background: url(../img/bg.jpg) no-repeat top center;

  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    justify-content: center;
  }

  &__title {

    grid-column: 2 / span 5;

    margin: 0;
    margin-bottom: 16px;
    font-family: "Old Standard TT";
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 64px;


    text-transform: uppercase;

    color: #eee9e6;
  }

  &__text {
    align-self: start;
    margin: 0;
    margin-bottom: 36px;
    grid-column: 2 / span 5;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;


    color: #eee9e6;

    opacity: 0.6;
  }

  &__link {
    grid-column: 2 / span 3;
    // grid-row: 3/4;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */

    text-align: center;

    color: #a78587;
  }

  &__img {
    grid-column: 7 / -1;
    grid-row: 1/5;
  }
}
