.reviews {
  &__title {
  }

  &__list {
  }

  &__item {
  }

  &__wrapper {
  }

  &__text {
  }

  &__footer {
    time {
      font-weight: 500;
      font-size: 10px;
      line-height: 20px;
      color: rgba(142, 128, 169, 0.7);
    }
  }

  &__avatar {
  }

  &__footer-wrapper {
  }

  &__author {
    color: rgba(230, 92, 123, 0.7);
  }
}
.socials {
  &__item {
  }

  &__link {
  }

  &__link--v {
  }

  &__link--t {
  }
}
