.search {
  grid-area: main;
  background-color: #fff;
  color: #5957db;
  padding: 60px;
}

.search {
  &__container {
  }
}
.dates {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  column-gap: 30px;
  align-items: center;

  &__list {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */

    text-align: center;

    color: #5957db;

    @include listNone;
    grid-column: 2 / span 9;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    // align-items: center;
    // justify-items: center;
    column-gap: 30px;
    a {
      grid-column: span 3;
      background: #ecf2ff;
      padding: 30px;
      border-radius: 8px;
      &.active {
        background-color: #43d000;
        color: #fff;
      }
    }
  }

  &__item {
  }

  &__date {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 24px;
  }

  &__day {
    margin: 0;
  }

  &__btn {
    grid-column: 11/12;
  }

  &__btn--rev {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(11, 80px);
  column-gap: 30px;
  align-items: center;

  &--9 {
    grid-template-columns: repeat(9, 80px);
  }
}

.type {
  margin-top: 60px;
  &__wrapper {
    margin-bottom: 40px;
  }
  &__item {
    grid-column: span 2;
  }

  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */

    text-transform: uppercase;

    color: #666666;
  }
}
.row {
  &__wrapper {
  }

  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */

    text-transform: uppercase;

    color: #666666;
  }

  &__item {
    margin: 0;
    ol {
      @include listNone;
    }
  }

  &__place {
    background-color: transparent;
    border: none;
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: left;
    span {
      grid-row: 1/2;
      grid-column: 1/2;
      z-index: 1;
    }

    svg {

      grid-row: 1/2;
      grid-column: 1/2;
      fill: #43d000;

      path {
      }
    }
  }
}
.occupy {
  &__text {
    grid-column: span 2;
  }

  &__text--0 {
  }

  &__text--v {
  }

  &__text--p {
  }
}
