.team {
  color: #fbf3f0;
  padding-top: 130px;
  padding-bottom: 80px;
  background: #343235 url(../img/) no-repeat center;
  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  &__title {
    font-weight: 400;
    font-size: 42px;
    line-height: 54px;
    /* or 129% */

    text-transform: uppercase;

    color: #eee9e6;
    grid-column: 2 / span 5;
  }

  &__text {
    grid-column: 2 / span 6;
  }

  &__text--right {
    grid-column: 9 / span 4;
  }

  &__img {
    grid-column: 1 /-1;
  }
}
