.tickets {
  background: #5957db;
  padding: 40px 60px;
  grid-area: tickets;
  header {
    padding: 20px 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */

    text-transform: uppercase;

    color: #ffffff;
    background-color: #43d000;
    display: flex;
    justify-content: space-between;
    border-radius:  8px  8px 0px 0px ;
  }

  footer{
    background-color: #fff;
    padding: 20px 30px;
    border-top: 1px dashed #5957db;
  }
  &__title {
    margin: 0;
  }

  &__number {
    margin: 0;
  }

  &__description {
    margin: 0;
    background-color: #fff;
    padding: 20px 30px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-items: start;
    gap: 20px;

  }

  &__item {
    font-size: 12px;
    line-height: 14px;
    /* identical to box height, or 117% */



    color: #aaaaaa;
  }

  &__item-text {
    margin: 0;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    /* or 117% */

    color: #666666;
  }
}
