.catalog {

    &__container {
        padding: 0 30px 0 30px;

        @media (min-width: $tablet-width) {
            padding-left: 50px;
            padding-right: 50px;
        }
    }





    &__title {
        margin-bottom: 30px;
    }

    &__list {
        @include listNone;

        @media (min-width: $tablet-width) {}

        @media (min-width: $desktop-width) {
            display: flex;
            justify-content: space-between;
        }



    }

    &__item {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 195px 30px 30px 30px;
        position: relative;
        border: 1px solid #ececec;

        &:not(:last-child) {
            margin-bottom: 30px;
        }

        @media (min-width: $tablet-width) {
            box-sizing: border-box;
            padding: 30px 30px 30px 365px;
            min-height: 335px;
            display: flex;
            flex-direction: column;
            justify-content: stretch;
            align-content: stretch;
        }

        @media (min-width: $desktop-width) {
            padding: 485px 30px 30px 30px;
            width: 318px;

            &:not(:last-child) {
                margin-right: 40px;
                margin-bottom: 0;

            }


        }
    }

    &__img {
        height: 195px;
        position: absolute;
        top: 0;
        left: 0;

        @media (min-width: $tablet-width) {}

        @media (min-width: $desktop-width) {}
    }

    &__wrapper {
        margin-top: auto;
        border-top: 1px solid #ececec;
        display: flex;
        justify-content: space-between;
    }

    &__item-title {
        font-size: 17px;
        font-weight: bold;
        color: #000;

    }

    &__text {
        margin: 0;
        font-size: 13px;
        line-height: 30px;
        color: #444;
        padding-bottom: 26px;



    }

    &__price {
        font-size: 15px;
        font-weight: bold;
        line-height: 24px;
        color: #000;



    }

    &__button {}
}

.icon {}