.container {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1150px;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
}

.icon {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;

  svg {
    &:hover {
      opacity: 1;

      fill: #46c1ae;
    }

    &:active {
      opacity: .3;
    }
  }


  svg {
    margin-right: 25px;
    opacity: .2;
  }

  &--cart {
    svg {
      margin-right: 23px;
    }
  }

  &--catalog-cart {
    margin: 0;
    padding: 0;

    svg {
      margin-right: 0;
    }
  }
}

.border {
  position: relative;

  &::before {
    position: absolute;
    top: 22px;
    left: 27px;
    width: 100%;
    content: '';
    border: 1px solid rgba(255, 255, 255, .2);
  }
}

.site-nav {
  background-color: #fff;

  @include listNone;

  @media (min-width: $tablet-width) {
    align-items: center;
    order: 1;
    width: 380px;
    background-color: transparent;

    @include flexWrap;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    order: -1;

  }

  &__item {
    box-shadow: inset 0 1px 0 0 #ececec;



    @media (min-width: $tablet-width) {
      margin-right: 40px;

      box-shadow: unset;

      &:nth-child(2n) {
        margin-right: 0;
      }


    }
  }

  &__link {
    display: block;
    margin-left: 75px;
    padding: 30px 10px;

    &--delivery {
      display: none;
    }

    &:hover {
      opacity: .6;
    }

    &:active {
      opacity: .3;
    }

    @media (min-width: $tablet-width) {
      margin-left: 0;
      padding-right: 0;
      padding-left: 0;

      &--delivery {
        font-size: 15px;
        font-weight: normal;

        display: initial;
        margin-left: auto;
      }
    }
  }
}

.user-navigation {
  background-color: #fff;

  @include listNone;

  @media (min-width: $tablet-width) {
    @include flexWrap;
  }

  @media (min-width: $desktop-width) {

  }

  &__item {
    box-shadow: inset 0 1px 0 0 #ececec;
  }

  &__link {
    display: block;
    margin-left: 33px;
    padding: 30px 10px;

    &:hover {
      color: rgba(#444, .6);

      svg {
        opacity: 1;
        fill: #63d1bb;
      }
    }

    &:active {
      color: rgba(#444, .3);

      svg {
        opacity: .3;
      }
    }



    @media (min-width: $tablet-width) {
      margin: 0;
      padding-right: 0;
      padding-left: 0;

      &--search {
        display: block;
        text-align: center;

        padding: 30px 30px;
        border-left: 1px solid #ececec;
        border-right: 1px solid #ececec;
        margin-right: 30px;

        svg{
          margin: 0;
          vertical-align: baseline;
        }


        span {
          display: none;
        }
      }
    }
  }
}

.socials {
  align-items: center;
  justify-content: center;

  @include listNone;

 display: flex;

  &__item {
    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: block;

    svg {
      &:hover {
        fill: #46c1ae;
      }

      &:active {
        opacity: .3;
      }
    }
  }
}

.title {
  font-size: 27px;
  font-weight: bold;
  line-height: 30px;

  padding-top: 75px;
  padding-bottom: 75px;
  text-align: center;
  color: #231f20;
  background-color: #f1f1f1;
}

.btn {
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;

  display: block;
  box-sizing: border-box;
  width: 260px;
  padding: 16px 10px;
  text-align: center;
  text-transform: uppercase;
  color: #444;
  border: solid 2px #444;
  background-color: transparent;

  &--w190 {
    width: 190px;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }

  &:active {
    color: rgba(#fff, .3);
  }
}




.break {
  flex-basis: 100%;
  width: 0;
  margin: 0;
  padding: 0;
  border: none;
}