.contacts {

  &__wrapper {
    padding: 30px;
  }

  &__title {
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    color: #000;
  }

  &__list {
    font-size: 15px;
    line-height: 30px;
  }

  &__item-wrapper {
    display: flex;

  }

  &__name {
    margin-right: 30px;
  }

  &__text {
    margin: 0;
  }
  &__picture{
    margin-bottom: 40px;
    margin-right: -30px;
    margin-left: -30px;
  }

  &__link {
    margin-bottom: 10px;
  }
}