.main-header {
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  color: #000;

  &__nav {
    position: relative;

  }

  &__button {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 30px;
    right: 30px;
    width: 21px;
    height: 21px;
  }

// * Меню открыто, переопределяю стили за коскадом

  &__nav--open {
    min-height: 410px;

    .main-header__button {

      &::after,
      &::before {
        position: absolute;
        top: 50%;
        left: 0;
        content: "";
        width: 21px;
        height: 2px;
        background-color: #000;
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }

    .main-header__dropout {
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 1;
      width: 100%;
    }
  }

// * Меню закрыто, переопределяю стили за каскадом

  &__nav--closed {
    .main-header__button {
      height: 14px;
      top: 35px;
      background-image: linear-gradient(180deg, black 2px, white 2px, white 6px, black 6px, black 8px, white 8px, white 12px, black 12px);
    }

    .site-nav,
    .user-navigation {
      display: none;
    }
  }

  &__logo {
    display: block;
    margin: 0 auto;
    object-fit: contain;
    width: 86px;
    padding: 20px 0;

    &:hover {

      .words,
      .line {
        fill: #46c1ae;
      }
    }

    &:active {

      .line,
      .words {
        opacity: 0.3;
      }

    }

    .bg {
      fill: none;
    }

    .words {
      fill: #000;
    }

    .line {}
  }

  &__site-nav {}



  &__button-- {}
}