.main-header {
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  color: #000;



  @media (min-width: $tablet-width) {
    background-image: linear-gradient(0deg, #f1f1f1 85px, #fff 80px);
  }
  @media (min-width: $desktop-width) {
    background-image: unset;
  }

  &__nav {
    position: relative;
    z-index: 1;
    @media (min-width: $tablet-width) {
      padding-left: 50px;
      padding-right: 50px;

    }

  }

  &__dropout {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @media (min-width: $desktop-width) {
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }

  &__button {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 30px;
    right: 30px;
    width: 21px;
    height: 21px;

    @media (min-width: $tablet-width) {

      display: none;
    }
  }

  // * Меню открыто, переопределяю стили за коскадом

  &__nav--open {
    @media (max-width: $mobile-only) {
      min-height: 410px;

      .main-header__button {

        &::after,
        &::before {
          position: absolute;
          top: 50%;
          left: 0;
          content: "";
          width: 21px;
          height: 2px;
          background-color: #000;
        }

        &::before {
          transform: rotate(45deg);
        }

        &::after {
          transform: rotate(-45deg);
        }
      }


      .main-header__dropout {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 1;
        width: 100%;
      }
    }
  }

  // * Меню закрыто, переопределяю стили за каскадом

  &__nav--closed {


    @media (max-width: $mobile-only) {
      .main-header__button {
        height: 14px;
        top: 35px;
        background-image: linear-gradient(180deg, black 2px, white 2px, white 6px, black 6px, black 8px, white 8px, white 12px, black 12px);
      }

      .site-nav,
      .user-navigation {
        display: none;
      }
    }


  }

  &__logo {
    display: block;
    margin: 0 auto;

    object-fit: contain;
    width: 86px;
    padding: 20px 0;
    align-self: center;

    &:hover {

      .words,
      .line {
        fill: #46c1ae;
      }
    }

    &:active {

      .line,
      .words {
        opacity: 0.3;
      }

    }

    .ears {
      display: none;
    }

    .bg {
      display: none;
    }

    .words {
      fill: #000;
    }

    .line {

    }

    @media (min-width: $tablet-width) {
      padding: 0;
      margin: 0;
      margin-right: auto;
      margin-left: -10px;

      .ears {
        display: none;
      }

      .bg {
        display: unset;
        fill: #000;
      }

      .words {
        fill: #fff;
      }

    }

    @media (min-width: $desktop-width) {
      margin: 0;
      width: 150px;
      height: auto;
      .ears {
        display: initial;
        fill: #000;
      }

      .bg {
        display: initial;
        fill: #000;
      }

      .words {
        fill: #fff;
      }
    }
  }



}