@mixin listNone {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin flexWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;


}

@mixin border {
    border: 1px solid red;

}

// counter-increment: programlist;
//   content: "0"counter(programlist);