.reviews {
  background: url(../img/icons/ziggrey2.svg) repeat-x bottom/6px;

  &__wrapper {
    padding: 30px;
  }

  &__title {
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
    text-align: left;
    color: #000
  }

  &__quote-wrapper {
    margin: 0;
  }

  &__text {
    margin: 0;
    margin-bottom: 35px;
    font-size: 15px;
    line-height: 30px;
  }

  &__footer {}

  &__author {

    font-size: 17px;
    font-weight: bold;


    color: #000;
  }

  &__mail {
    margin: 0;
    margin-bottom: 35px;
    line-height: 30px;
  }

  &__buttons {
    display: flex;
    margin-bottom: 35px;
  }

  &__btn {
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    width: 130px;
    height: 52px;
    border: 1px solid #ececec;
    background: url(../img/icons/arrow.svg) no-repeat center/50px 26px;

    &--left {
      transform: scale(-1, 1);
      border-left-color: transparent;
    }

    &:hover{
      opacity: 0.6;
    }
    &:active{
      opacity: 0.3;
    }

  }

  &__link {
    margin-bottom: 15px;
  }
}