@import "variables";
@import "mixins";
@import "often-used";
@import "blocks";
@import "header";
@import "promo";
@import "week-product";
@import "about";
@import "reviews";
@import "contacts";
@import "./form-page/form-page";
@import "./catalog-page/catalog";
@import "./catalog-page/product";
@import "footer";


// @import "page";
// @import 'payment';
// @import 'tickets';
// @import 'dates';
// @import 'search';
// @import 'main-nav';
// @import "tickets";



// @import "catalog";
// @import "achiev";
// @import "mission";
// @import "form";
// @import "offers";
// @import "partners";
// @import "team";

// @import "services";
// @import "galary";

// @import "gifts";
// @import "projects";



body {
  margin: 0;
  padding: 0;
  min-width: 320px;

  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 24px;
  color: #444;
  background-color: #fff;
}
